.card-alert {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: relative;
    overflow: hidden;     
  }
  
  
#cookieSvg {
    width: 50px;
  }
  
  #cookieSvg g path {
    fill: rgb(97, 81, 81);
  }
  
  .cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .cookieDescription {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: rgb(99, 99, 99);
  }
  
  .cookieDescription a {
    --tw-text-opacity: 1;
    color: rgb(59 130 246);
  }
  
  .cookieDescription a:hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
  }
  
