<div class="card card-outline card-primary">
  <div class="card-header">
    <h5 class="card-title">Proveedor</h5>    
  </div>
  <div class="card-body">
    <button type = 'button' class="btn btn-outline-primary btn-sm" (click)= "refrescar()">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
      Refrescar</button>
      <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel">
        <fa-icon [icon]="faFileExcel"></fa-icon>
        Excel</button>
      <a (click)="prvNuevo()" class="btn  btn-outline-primary btn-sm" ngbTooltip="Nuevo" >
        <fa-icon [icon]="faAddressCard"></fa-icon>
        Nuevo</a>
        <app-filtro-general  [colums]="colums" (onItemAdded)="addFilter($event)" *ngIf="colums.length > 0"></app-filtro-general>  
    <div class="loading" *ngIf= "loading" >
      <img src = "assets/Circles-menu-3.gif">
     </div>

 <div>
  <br>
  <div class="table-responsive" *ngIf="tblProveedor?.length > 0" class="{{carga}}">
    <table #datatableElement datatable  id="tblProveedor" class="table table-hover text-nowrap" [dtOptions]="dtOptions" >
      <thead>
        <tr>
          <th>ID</th>
          <th>RUT</th>
          <th>Nombre</th>
          <th>Télefono</th>
          <th>Correo</th>
          <th>esCliente</th>
          <th>esProveedor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let xproveedor of tblProveedor">
          <th>{{xproveedor.id}}</th>
          <th>{{xproveedor.rut}}</th>
          <th>{{xproveedor.nombre}}</th>
          <th>{{xproveedor.telefono}}</th>
          <th>{{xproveedor.mail}}</th>
          <th *ngIf="xproveedor.es_cliente == 'S', else noact">SI</th>
          <ng-template #noact> <th>NO</th></ng-template>
          <th *ngIf="xproveedor.es_proveedor == 'S', else noactx">SI</th>
          <ng-template #noactx> <th >NO</th></ng-template>
          <th>
          <!--  <a (click)="modalIns(modalPrvIns, xproveedor)" class="btn btn-warning btn-xs" ngbTooltip="Dirección">
              <fa-icon [icon]="faTruck"></fa-icon>
            </a>  -->         
            <a (click)="modelUp(xproveedor)" class="btn btn-warning btn-xs" ngbTooltip="Actualizar">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  <div>
    </div>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
  </div>
  <!-- /.card-footer-->
</div>


<ng-template #modalPrvIns let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal ingreso direcciones de despacho</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body row">
    <h3>Dirección principal</h3>
    <div class="col-md-6"><input type="text" class="input-group-sm" disabled value="{{proveedor.direccion}}" ></div>
    

  </div>
</ng-template>
