<form [formGroup] ="up"
  (ngSubmit)        = "guardar( up.controls['prvNom'].value,
                                up.controls['prvNom2'].value,
                                up.controls['prvGiro'].value,
                                up.controls['prvDir'].value,
                                up.controls['prvDirNum'].value,
                                up.controls['paiId'].value,
                                up.controls['regId'].value,
                                up.controls['comId'].value,
                                up.controls['ciuId'].value,
                                up.controls['prvMail'].value,
                                up.controls['prvTel'].value,
                                up.controls['prvCli'].value,
                                up.controls['prvPrv'].value,
                                up.controls['prvAct'].value)">  
        <div class="col-md-12 card card-outline card-primary">
          <div class="card-header">
            <h5 class="card-title">Ingreso de Proveedor / Cliente</h5>
          </div>
          <!-- /.card-header -->
          <div class="card-body row">                 
                  <div class="col-md-4 form-group">
                    <label for="prvRut">Rut (99999999-0)</label>
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="prvRut" placeholder="Ingresar rut..." value="{{proveedor.rut}}"
                        disabled 
                        >                                      
                      </div>                    
                  </div>                  
                  <div class="col-md-8">
                    <div class="form-group">
                      <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="prvAct" formControlName='prvAct' role="switch">
                        <label class="form-check-label" for="prvCli">Activado</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="prvPrv" formControlName='prvPrv' role="switch">
                        <label class="form-check-label" for="prvPrv">Es Proveedor</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input" id="prvCli" formControlName='prvCli' role="switch">
                        <label class="form-check-label" for="prvCli">Es cliente</label>
                      </div>
                    </div>
                  </div>                 
                  <div class="col-md-6 form-group">
                    <label for="prvNom">Nombre</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvNom" placeholder="Ingresar nombre..." formControlName = 'prvNom'  oninput="this.value = this.value.toUpperCase()"
                      [ngClass]="(up.controls['prvNom'].hasError('required') )
                      ? 'was-validated' : 'is-valid'" 
                      >
                    </div>
                    <div *ngIf = "up.controls['prvNom'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div> 
                  <div class="col-md-6 form-group">
                    <label for="prvNom2">Nombre Fantasía</label>
                    <div class="input-group input-group-sm">
                     <input type="text" class="form-control" id="empApe" placeholder="Ingresar nombre..." formControlName = 'prvNom2'   oninput="this.value = this.value.toUpperCase()"
                     [ngClass]="(up.controls['prvNom2'].hasError('required') )
                     ? 'was-validated' : 'is-valid'" 
                     >
                    </div>
                    <div *ngIf = "up.controls['prvNom2'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>                 
                  <div class="col-md-6 form-group">
                    <label for="prvGiro">Giro Comercial</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvGiro" placeholder="Ingresar giro..." formControlName = 'prvGiro'  oninput="this.value = this.value.toUpperCase()"
                      [ngClass]="(up.controls['prvGiro'].hasError('required') )
                      ? 'was-validated' : 'is-valid'" 
                      >
                    </div>
                    <div *ngIf = "up.controls['prvGiro'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="prvDir">Dirección</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvDir" placeholder="Ingresar dirección..." formControlName = 'prvDir' 
                      [ngClass]="(up.controls['prvDir'].hasError('required') )
                      ? 'was-validated' : 'is-valid'" 
                      >
                    </div>                    
                    <div *ngIf = "up.controls['prvDir'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>                     
                  <div class="col-md-6 form-group">
                    <label for="prvDir">Número</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvDirNum" placeholder="Ingresar número..." formControlName = 'prvDirNum'
                      [ngClass]="(up.controls['prvDirNum'].hasError('required') )
                      ? 'was-validated' : 'is-valid'" 
                      >
                    </div>                
                    <div *ngIf = "up.controls['prvDirNum'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div> 
                  <div class="col-md-6 form-group">
                    <label for="nombre">País</label>
                    <div  *ngIf=" !paises.length ">
                      <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class=" input-group-sm" *ngIf="paises.length > 0">
                      <ng-select  [items]="paises"
                        bindLabel="paiDes"
                        bindValue="paiId"
                        formControlName="paiId"
                        [ngClass]="(up.controls['paiId'].hasError('required'))
                        ? 'was-validated' : 'is-valid'" >
                        </ng-select >
                    </div>
                    <div *ngIf = "up.controls['paiId'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="nombre">Región</label>
                    <div  *ngIf=" !regiones.length ">
                      <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class=" input-group-sm" *ngIf="regiones.length  > 0 && paises.length > 0">
                      <ng-select  [items]="regiones"
                        bindLabel="regDes"
                        bindValue="regId"
                        formControlName="regId"
                        [ngClass]="(up.controls['regId'].hasError('required'))
                        ? 'was-validated' : 'is-valid'" >
                        </ng-select >
                    </div>
                    <div *ngIf = "up.controls['regId'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>           
                  <div class="col-md-6 form-group">
                    <label for="nombre">Ciudad</label>
                    <div  *ngIf=" !ciudades.length ">
                      <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class=" input-group-sm" *ngIf="regiones.length  > 0 && paises.length > 0 && ciudades.length > 0">
                      <ng-select  [items]="ciudades"
                        bindLabel="ciuDes"
                        bindValue="ciuId"
                        formControlName="ciuId"
                        [ngClass]="(up.controls['ciuId'].hasError('required'))
                        ? 'was-validated' : 'is-valid'" >
                        </ng-select >
                    </div>
                    <div *ngIf = "up.controls['ciuId'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div> 
                  <div class="col-md-6 form-group">
                    <label for="nombre">Comuna</label>
                    <div  *ngIf=" !comunas.length ">
                      <div class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class=" input-group-sm" *ngIf="regiones.length  > 0 && paises.length > 0 && ciudades.length > 0 && comunas.length > 0">
                      <ng-select  [items]="comunas"
                        bindLabel="comDes"
                        bindValue="comId"
                        formControlName="comId"
                        [ngClass]="(up.controls['comId'].hasError('required'))
                        ? 'was-validated' : 'is-valid'" >
                        </ng-select >
                    </div>
                    <div *ngIf = "up.controls['comId'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="prvMail">Correo</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvMail" placeholder="Ingresar correo..." formControlName = 'prvMail'  
                      [ngClass]="( up.controls['prvMail'].hasError('email') )
                      ? 'was-validated' : ''" 
                      >
                    </div>                
                    <div *ngIf="up.controls['prvMail'].hasError('email')">
                      <span class="text-danger">Ingrese correo valido!</span>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="prvTel">Télefono</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="prvTel" placeholder="Ingresar correo..." formControlName = 'prvTel'
                      [ngClass]="(up.controls['prvTel'].hasError('required') )
                      ? 'was-validated' : 'is-valid'" 
                      >
                    </div>                
                    <div *ngIf = "up.controls['prvTel'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-primary btn-sm mb-3 mt-2"  *ngIf ="up.valid"  [disabled]="val">
                      <div *ngIf= "val">
                        Guardando..
                        <span class="spinner-border spinner-border-sm mr-2"></span>
                      </div>
                      <div *ngIf= "!val">
                        Guardar
                      </div>
                    </button>
                    <a  routerLink="../.." class="btn btn-outline-primary btn-sm mb-3 mt-2">
                      <fa-icon [icon]=" faArrowTurnDown"></fa-icon>             
                      Volver
                    </a>
                  </div>
              </div>
            </div>        
          <!-- /.card-body -->    
  </form>

  
  