:host {
  ng-scrollbar {
    --scrollbar-thumb-color: var(--cui-border-color, #999);
    --scrollbar-track-color: var(--cui-body-color, #fff);
    --scrollbar-hover-size: calc(var(--scrollbar-size) * 1.5);
  }
}

.sidebar{background-color: #607D8B;}


.user-panel {
  .info {
    display: inline-block;
    padding: 5px;

    a{
      color: #fff;
      text-decoration: none;
    }
     span{
      font-size: 10px;
     }
  }
  .image {
  display: inline-block;
  padding-left: .8rem;
      img{
        width: 33px;
        height: 33px;
      }
  }
}


#loading{
.loading-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5); /* Fondo blanco semi-transparente */
  z-index: 9990; /* Asegura que esté en la parte superior */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .loading-content {
    text-align: center;
  }
}
}

