<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/Logo_MARPLE2.png',
      width: 170,
      height: 91,
      alt: 'Logo Empresa'
    }"
    [brandNarrow]="{
      src: 'assets/Logo_MARPLE2.png',
      width: 46,
      height: 46,
      alt: 'Logo empresa'
    }"
    routerLink="./"
  />

  <ng-scrollbar pointerEventsMethod="scrollbar">
    <div class="user-panel mt-3  d-flex">
      <div class="image">
      <img src="{{usrimg}}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
         <a  class="d-block">{{usrname}} - {{rol}}</a>
      </div>
      </div>
    <c-sidebar-nav
      [navItems]="navItems"
      dropdownMode="close"
    />
  </ng-scrollbar>
  <c-sidebar-toggler
    *ngIf="!sidebar.narrow"
    toggle="unfoldable"
    cSidebarToggle="sidebar"
  />
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar" />
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <app-scroll-to-top-button></app-scroll-to-top-button>
     <app-alert></app-alert>
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet/>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer/>
</div>
