<div class="card card-primary card-outline">
  <div class="card-header">
    <h5 class="card-title">Orden Producción</h5>
  </div>
  <div class="card-body">
    <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "refrescar()" ngbTooltip="Refrescar">
      <fa-icon [icon]="faSyncAlt"></fa-icon>Refrescar
    </button>
    <button type='button' class="btn  btn-outline-primary btn-sm" (click)= "Excel()"  ngbTooltip="Excel" >
      <fa-icon [icon]="faFileExcel"></fa-icon>Excel
    </button>
    <a (click)="ordNuevo()" class="btn  btn-outline-primary btn-sm"  ngbTooltip="Nuevo">
      <fa-icon [icon]="faAddressCard"></fa-icon>Nuevo
    </a>
    <app-filtro-general  [colums]="colums" (onItemAdded)="addFilter($event)" *ngIf="colums.length > 0"></app-filtro-general>       

    <div class="loading" *ngIf= "loading" >
      <img src = "../../../assets/Circles-menu-3.gif">
     </div>
  <br>
  <br>
  <div class="table-responsive">
    <div  *ngIf="tblOrdenPrd?.length > 0" class="{{carga}}">
      <table #datatableElement datatable  id="tblOrdenPrd" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Nro de Oc</th>
            <th>Nro Op</th>
            <th>Rut Cliente</th>
            <th>Fecha</th>
            <th>Estado Ord</th>
            <th>Estado Prod</th>
            <th>Prd Totales</th>
            <th>Tipo</th>
            <th>Tipo Des</th>
            <th>Centro Dest</th>
            <th>Almacen Dest</th>
            <th></th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let orden of tblOrdenPrd">
            <th>{{orden.id}}</th>
            <th>{{orden.usuario}}</th>
            <th>{{orden.orden_compra}}</th>
            <th>{{orden.orden_produccion}}</th>
            <th>{{orden.rut}}</th>
            <th>{{orden.fecha}}</th>
            <th>{{orden.estado_ord}}</th>
            <th>{{orden.estado_pro}}</th>         
            <th>{{orden.prd_total}}</th>        
            <th>{{orden.tipo}}</th>
            <th>{{orden.tipo_des}}</th>
            <th>{{orden.centro_destino}}</th>
            <th>{{orden.almacen_destino}}</th>
            <th>{{orden.observaciones}}</th>
            <th>
            <!--<a *ngIf="orden.prd_pendientes == 0"  class="btn btn-success btn-xs"  ngbTooltip="Orden sin Pendientes" ><i class="fas  fa-check"></i></a>
            <a *ngIf="orden.prd_pendientes > 0 "      (click)="addOT(orden , modalCiuUdp)" class="btn btn-warning btn-xs"  ngbTooltip="Orden de trabajo" ><i class="fas fa-folder-plus"></i></a> -->
            <a style= "margin : 1px;"   class="btn btn-warning btn-xs"    (click)="verOT(orden , content)"         ngbTooltip="Ver"><fa-icon [icon]="faEye"></fa-icon></a> 
            <a style= "margin : 1px ;" (click)="generaSalida(orden)" class="btn btn-warning btn-xs" ngbTooltip="Solicitar">
              <fa-icon [icon]="faBuildingCircleArrowRight"></fa-icon>
            </a>
          </th>
        </tbody>
      </table>
    </div>
  </div>

  </div>

  <!-- /.card-body -->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
      <h5 class="modal-title">Orden Produccion  #{{xorden.orden_produccion}}</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="row">
          <!-- Detalles de facturación -->
          <div class="col-6">
              <h5>Detalles de facturación</h5>         
              <p>{{xorden.created_at}}</p>
              <p>{{xorden.cenDir}}</p> 
              <p><strong>Rut Proveedor: </strong> {{xorden.rut}}</p>
              <p><strong>Proveedor:</strong> {{xorden.proveedor}}</p>
          </div>
          <!-- Detalles de envío -->
          <div class="col-6">
            <h5>Detalles de Envío</h5>     
            <p><strong>Centro Destino: </strong> {{xorden.centro_destino}}</p>
              <p><strong>Almacen Destino: </strong> {{xorden.almacen_destino}}</p>
              <p><strong>Tipo: </strong> {{xorden.tipo}}</p>
              <p><strong>Estado: </strong> 
                  <span>{{xorden.estado_pro}}</span>  
              </p>
          </div>
      </div>
      <hr>
      <!-- Tabla de productos -->
      <div  *ngIf="!xorddet.length">
        <i class="spinner-grow spinner-grow-sm"></i>
        <i class="spinner-grow spinner-grow-sm"></i>
        <i class="spinner-grow spinner-grow-sm"></i>
      </div>
      <div class="table-responsive" *ngIf="xorddet.length > 0">
          <table class="table">
              <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>  
                  </tr>
              </thead>
              <tbody >
                  <tr *ngFor="let obj of xorddet">
                      <td>{{obj.orpdPrdCod}}</td>
                      <td>{{obj.orpdPrdDes}}</td>  
                      <td>{{obj.orpdCant}}</td>  
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>

