<div class="card card-primary card-outline">
    <div class="card-header">
      <h5 class="card-title">Opciones</h5>   
    </div>
    <div class="card-body">
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel" >
          <fa-icon [icon]="faFileExcel"></fa-icon>
          Excel
        </button>
        <a (click) = "ins(modalIns, 'Ingreso')" class="btn  btn-outline-primary btn-sm" ngbTooltip= "Nuevo">
          <fa-icon [icon]="faAddressCard"></fa-icon>
          Nuevo</a>
      <div class="loading" *ngIf= "loading" >
        <img src = "assets/Circles-menu-3.gif">
       </div>
   <div>
    <br>
    <div class="table-responsive">
      <div    *ngIf="tblOpciones?.length > 0" class="{{carga}}">
        <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
          <thead>
            <tr>
              <th>ID</th>
              <th>Opción</th>
              <th>Url</th>            
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let data of tblOpciones">
              <td> {{data.optId}} </td>
              <td> {{data.optDes}} </td>
              <td> {{data.optLink}} </td>
              <td>
                <a style= "margin : 1px ;" (click)="up(modalUp, 'Actualizar', data)" class="btn btn-warning btn-xs" ngbTooltip="Opciones">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </a>
                <a style= "margin : 1px ;" (click)="acciones(data)" class="btn btn-warning btn-xs" ngbTooltip="Opciones">
                  <fa-icon [icon]="faSquarePlus"></fa-icon>
                </a>
                <a style= "margin : 1px ;" (click)="del(data)" class="btn btn-warning btn-xs" ngbTooltip="Opciones">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
    <!-- /.card-body -->
    <div class="card-footer">
      
    </div>
    <!-- /.card-footer-->
  </div>
  <ng-template #modalIns let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal {{accion}} Opciones</h5>
    </div> 
    <form >          
    <div class="modal-body">                                         
          <div class="form-group">
            <label for="">Url</label>
            <input type="text" class="form-control"  placeholder="" value="" #optLink
             [ngClass]="(!optLink.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!optLink.value">
              <span class="text-danger">Campo obligatorio!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Opción</label>
            <input type="text" class="form-control"  #optDes 
            [ngClass]="(!optDes.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!optDes.value">
              <span class="text-danger">Campo obligatorio!</span>
             </div>
          </div> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  [disabled]="loading" (click)="guardar(optLink.value, optDes.value , 'ins')" *ngIf="optLink.value != '' && optDes.value != ''">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>

  <ng-template #modalUp let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal {{accion}} Opciones</h5>
    </div> 
    <form >          
    <div class="modal-body">                                         
          <div class="form-group">
            <label for="">Url</label>
            <input type="text" class="form-control"  placeholder="" value="{{opcion.optLink}}" #optLink
             [ngClass]="(!optLink.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!optLink.value">
              <span class="text-danger">Campo obligatorio!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Opción</label>
            <input type="text" class="form-control"   value="{{opcion.optDes}}" #optDes 
            [ngClass]="(!optDes.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!optDes.value">
              <span class="text-danger">Campo obligatorio!</span>
             </div>
          </div> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  [disabled]="loading" (click)="guardar(optLink.value, optDes.value , 'up')" *ngIf="optLink.value != '' && optDes.value != ''">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>
  
  
  