<div class="card card-primary card-outline">
    <div class="card-header">
      <h5 class="card-title">Centro</h5>   
    </div>
    <div class="card-body">
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel" >
          <fa-icon [icon]="faFileExcel"></fa-icon>
          Excel
        </button>
        <a (click) = "ins(modalIns, 'Ingreso')" class="btn  btn-outline-primary btn-sm" ngbTooltip= "Nuevo">
          <fa-icon [icon]="faAddressCard"></fa-icon>
          Nuevo</a>
      <div class="loading" *ngIf= "loading" >
        <img src = "assets/Circles-menu-3.gif">
       </div>
   <div>
    <br>
    <div class="table-responsive"   *ngIf="tblObj.length > 0" class="{{carga}}">
        <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
          <thead>
            <tr>
              <th>Centro</th>            
              <th>Descripción</th>
              <th>Direccion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of tblObj">
              <th>{{data.centroId}}</th>
              <th>{{data.cenDes}}</th>
              <th>{{data.cenDir}}</th>
              <th>
                <a style= "margin : 1px ;" (click) = "up(modalUp , 'Actualziar', data )" class="btn btn-warning btn-xs" ngbTooltip="Actualizar">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </a>
                <a style= "margin : 1px ;" (click)="almacen(data)" class="btn btn-warning btn-xs" ngbTooltip="Almacenes">
                  <fa-icon [icon]="faSquarePlus"></fa-icon>
                </a>
                <a style= "margin : 1px ;" (click) = "del(data)"  class="btn btn-warning btn-xs" ngbTooltip="Eliminar">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </a>
               
              </th>
            </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
    <!-- /.card-body -->
    <div class="card-footer">
      
    </div>
    <!-- /.card-footer-->
  </div>
  
  <ng-template #modalIns let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal {{accion}} Opciones</h5>
    </div> 
    <form >          
    <div class="modal-body">                                         
          <div class="form-group">
            <label for="">Descripción</label>
            <input type="text" class="form-control"  placeholder="" value="" #cenDes
             [ngClass]="(!cenDes.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!cenDes.value">
              <span class="text-danger">Campo obligatorio!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Dirección</label>
             <app-direccion (onItemAdded)="place($event)" ></app-direccion>
          </div> 
        
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  [disabled]="loading" (click)="guardar(cenDes.value,  'ins')" *ngIf="cenDes.value != '' ">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>

  <ng-template #modalUp let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal {{accion}} Opciones</h5>
    </div> 
    <form >          
    <div class="modal-body">                                         
          <div class="form-group">
            <label for="">Descripción</label>
            <input type="text" class="form-control"  placeholder="" value="{{centro.cenDes}}" #cenDes
             [ngClass]="(!cenDes.value)? 'was-validated' : 'is-valid'" >
             <div *ngIf="!cenDes.value">
              <span class="text-danger">Campo obligatorio!</span>
            </div>
          </div>
          <div class="form-group">
            <label for="">Dirrección</label>
           <app-direccion  (onItemAdded)="place($event)"  ></app-direccion>
          </div> 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"  [disabled]="loading" (click)="guardar(cenDes.value , 'up')" *ngIf="cenDes.value != ''">Guardar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>
  
  
  