<div class="card">
    <div class="card-header">
      <h3 class="card-title">Seguridad Avanzada - Monitor</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
        <a (click)="monitor()" class="btn btn-outline-primary btn-sm mb-3 mt-2">
            <i class="fas fa-arrow-right me-3"></i>Monitor
          </a>   
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      
    </div>
    <!-- /.card-footer-->
  </div>
