
<div class="card card-outline card-primary">
    <div class="card-header">
      <h5 class="card-title">Gestión de Empresa - Módulos</h5>
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
      <div class="form-group col-md-6 p-4">
      <label for=""  *ngIf="empresa.empDes.length > 0 ">Empresa</label>
      <input *ngIf="empresa.empDes.length > 0 " type="text" class="form-control" id="" placeholder="" value="{{empresa.empDes}}"   disabled  #upregId>
      </div>
      
     
      <p-pickList 
        [source]="optnAsig" 
        [target]="optAsig" 
        sourceHeader="No Asignada"
        targetHeader="Asignada" 
        [dragdrop]="true" 
        [responsive]="true"
        [sourceStyle]="{ height: '30rem' }" 
        [targetStyle]="{ height: '30rem' }" 
        breakpoint="1400px"
        >   
            <ng-template let-optnAsig pTemplate="item">          
                <div class="flex flex-wrap p-2 align-items-center gap-3  border-1 border-black">                 
                    <div class="flex-1 flex flex-column gap-2 ">
                        <span class="font-bold">
                            {{ optnAsig.optDes }}
                        </span>
                        <div class="flex align-items-center gap-2">
                          <fa-icon [icon]=" faGear"></fa-icon>          
                            <span>
                                {{ optnAsig.optDes }}
                            </span>
                        </div>
                    </div>
                    <span class="font-bold text-900">
                       
                    </span>
                </div>
            </ng-template>
       
    </p-pickList>
      <div class="col-md-12">
        <hr>
        <button
          type="button"
          class="btn btn-outline-primary btn-sm mb-3 mt-2"
          [disabled]="val"
          (click)="guardar()"
        >
          <div *ngIf="val">
            Guardando..
            <span class="spinner-border spinner-border-sm mr-2"></span>
          </div>
          <div *ngIf="!val">Guardar</div>
        </button>
        <a routerLink="../.." class="btn btn-outline-primary btn-sm mb-3 mt-2">
          <fa-icon [icon]="faArrowTurnDown"></fa-icon>
          Volver
        </a>
      </div>
      <!-- /.card-body -->
    </div>
  </div>