<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav  class="ms-3">     
        <div class="input-group mb-2">
          
          <input type="text"
                [(ngModel)]="model"
                [ngbTypeahead]="search"      
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)"
                #instance="ngbTypeahead"
                class="form-control form-select-sm"
                placeholder="Buscar" 
                (selectItem)="onSelect($event)" value="{{model}}"
          />
          <div class="input-group-prepend">
            <div class="input-group-text"> <fa-icon [icon]="faMagnifyingGlass"></fa-icon> </div>
          </div>
        </div>
    </c-header-nav> 
    <c-header-nav class="d-none d-lg-flex me-auto">     
    </c-header-nav>    
    <c-header-nav class="d-none d-lg-flex ms-5">
      <span class=" badge text-bg-warning">QA</span>     
    </c-header-nav>
    <c-header-nav class="d-none d-lg-flex">
      <c-header-nav class="ms-3">
        <ng-container *ngTemplateOutlet="userNotificaciones"></ng-container>
      </c-header-nav>
    </c-header-nav>
    <c-header-nav class="d-none d-lg-flex">
      <c-header-nav class="ms-3">
        <ng-container *ngTemplateOutlet="userMonedas"></ng-container>
      </c-header-nav>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button  cButton  color=""  [caret]="false" cDropdownToggle class="py-0" >
      <c-avatar 
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="{{imgName}}"
        status="success"
       *ngIf="imgName.length > 2"
      >
      </c-avatar>
      <c-avatar color="secondary" status="success" *ngIf="imgName.length === 2">{{imgName}}</c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Cuenta</h6>
      </li>
      <li>
        <a (click)="verNotificaciones()" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Alertas
          <c-badge class="ms-2 float-end" color="info">
            {{contador}}
          </c-badge>
        </a>
      </li> 
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Ajustes</h6>
      </li>
      <li></li>
      <li>
        <a (click)="ajustes()" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Ajustes
        </a>
      </li> 
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a (click)="salir()" cDropdownItem>
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Salir
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown> 
</ng-template>


<ng-template #userNotificaciones>
  <c-dropdown variant="nav-item">
    <button  cButton  color=""  [caret]="false" cDropdownToggle class="py-3" >
         <c-badge class="ms-2 float-end" color="info">
          {{contador}}
        </c-badge>   
        <svg cIcon name="cilBell" size="lg"></svg> 
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Notificaciones</h6>
      </li>
      <li  *ngFor="let notificaciones of datos" >
          <a  (click)="lectura(notificaciones)" cDropdownItem>
            <fa-icon [icon]="faIndustry"></fa-icon> 
            <span  >
              {{notificaciones.notLotSal}}
              {{notificaciones.notObs}}
           </span>
          </a>
      </li>
      <li >
       <a cDropdownItem>  <span  style="font-size: 11px;" *ngIf="!datos?.length">Sin Notificaciones</span></a>
      </li>
      <li></li>
    </ul>
  </c-dropdown> 
</ng-template>

<ng-template #userMonedas>
  <c-dropdown variant="nav-item">
    <button  cButton  color=""  [caret]="false" cDropdownToggle class="py-3" >
        <svg cIcon name="cilBank" size="lg"></svg> 
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Indicadores</h6>
      </li>
      <li  *ngFor="let datos of indicadores" >
          <a   cDropdownItem>
            <fa-icon [icon]="faMoneyBillTransfer"></fa-icon> 
            <i class="fa-solid fa"></i>
            <span>
              {{datos.monCod}}  
              {{datos.monValor}} 
              {{datos.moncValor}} 
           </span>
           <span  style="font-size: 11px;"  *ngIf="!val">Sin datos</span>
          </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown> 
</ng-template>