<div class="row" >
  <form  [formGroup] = "ins"
  (ngSubmit)  = "generaOP(ins.controls['orpFech'].value ,
                          ins.controls['orpNumOc'].value,
                          ins.controls['orpNumRea'].value,
                          ins.controls['orpObs'].value
                          )" >

      <div class="col-md-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h5 class="card-title">Ingreso de Orden de Producción</h5>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="modal-body">
              <div class="loading" *ngIf= "loading" >
                <img src = "assets/Circles-menu-3.gif">
               </div>
                <div class="row"  class="{{carga}}">
                  <div class="col-md-6">
                    <h6>General</h6>
                    <div class="col-12">
                      <label for="nombre">Fecha</label>
                      <div class="input-group input-group-sm ">                       
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp"  ngbDatepicker #d="ngbDatepicker" formControlName = 'orpFech' >
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarWeek"></fa-icon></button>
                        </div>
                        <div *ngIf = "ins.controls['orpFech'].hasError('required')">
                          <span class="text-danger">Campo obligatorio!</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="nombre">Nro OC</label>
                      <div class="input-group input-group-sm">                       
                        <input class="form-control"  type="text" formControlName = 'orpNumOc'  />                     
                      </div>
                      <div *ngIf = "ins.controls['orpNumOc'].hasError('required')">
                        <span class="text-danger">Campo obligatorio!</span>
                      </div>                     
                    </div>
                  <div class="col-12">
                    <label for="nombre">Nro OP</label>
                    <div class="input-group input-group-sm">
                      <input class="form-control"  type="text"  formControlName = 'orpNumRea'   />
                    </div>
                    <div *ngIf = "valcod">
                      <span class="text-danger">El Nro OP ya existe!</span>
                    </div>
                    <div *ngIf = "ins.controls['orpNumRea'].hasError('required')">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                  </div>
                   <div class="col-12">
                    <app-select-producto (onItemAdded)="proveedores()"></app-select-producto>               
                    <div *ngIf = "!prvNom">
                      <span class="text-danger">Campo obligatorio!</span>
                    </div>
                   </div>  
                   <div class="col-12">
                    <label for="nombre">Observaciones</label>
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control"  formControlName = 'orpObs'/>
                    </div>
                   </div>                           
                  </div>
                  <div class="col-md-6">
                    <h6>Envío</h6>
                    <div class="form-group">            
                      <label for="nombre">Centro</label>
                      <div  *ngIf="!centro.length">
                        <i class="spinner-grow spinner-grow-sm"></i>
                        <i class="spinner-grow spinner-grow-sm"></i>
                        <i class="spinner-grow spinner-grow-sm"></i>
                      </div>
                       <div class="" *ngIf="centro.length > 0">
                        <ng-select  
                          [items]="centro"
                          bindLabel="cenDes"
                          bindValue="centroId"
                          formControlName="centroId"
                          >
                        </ng-select >
                      </div>
                    </div>
                    <div class="form-group">            
                      <label for="nombre">Almacen</label>
                      <div  *ngIf="!cProductos.length">
                        <i class="spinner-grow spinner-grow-sm"></i>
                        <i class="spinner-grow spinner-grow-sm"></i>
                        <i class="spinner-grow spinner-grow-sm"></i>
                      </div>
                      <div class="" *ngIf="cProductos.length > 0">
                        <ng-select  
                          [items]="cProductos"
                          bindLabel="prdDes"
                          bindValue="PrdCod"
                          formControlName="almId"
                          >
                        </ng-select >
                      </div>
                    </div>
                  </div>
                  <hr class="mt-4 p-3">
                  <div class="col-12">
                    <h6>Detalles</h6>
                    <button type="button" (click)="selPrd(modalInsPrd)" class="btn btn-danger btn-sm"><i class="fas fa-plus-circle"></i></button>
                    <br>
                   <br>
                    <div class="table-responsive">
                     <table class="table table-hover text-nowrap">
                       <thead>
                           <tr>
                               <td>Cód Producto</td>
                               <td>Nombre</td>
                               <td>Cantidad Sol</td>
                               <td>Stock Disponible</td>
                               <td>Total Producir</td>
                               <td>Obs</td>
                               <td>Acciones</td>
                           </tr>
                       </thead>
                       <tbody>
                           <tr *ngFor="let ord of ordenes; let i= index;">
                               <td>
                                   <span>{{ord.prdCod}}</span>
                               </td>
                               <td>
                                 <span>{{ord.prdDes}}</span>
                               </td>
                               <td>
                                 <span>{{ord.orpdCant}}</span>
                               </td>
                               <td>
                                 <span>{{ord.orpdCantDis}}</span>
                               </td>
                               <td>
                                 <span>{{ord.orpdTotP}}</span>
                               </td>
                               <td>
                                 <span>{{ord.orpdObs}}</span>
                               </td>
                               <td>
                                   <div>
                                     <a (click) = "delPrd(i)"  class="btn btn-warning btn-xs" placeholder="eliminar"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                   </div>
                               </td>
                           </tr>
                       </tbody>
                       </table>
                       <div *ngIf = "ordenes.length == 0">
                         <span class="text-danger">Debe ingresar productos!</span>
                       </div>
                   </div>
                  </div>
              </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary btn-block" *ngIf="ins.valid && ordenes.length > 0  && prvNom " [disabled]="val">
                    <div *ngIf= "val">
                      Guardando..
                      <span class="spinner-border spinner-border-sm mr-2"></span>
                    </div>
                    <div *ngIf= "!val">
                      Guardar
                    </div>
                  </button>
                  <a (click)="volver()" class="btn btn-outline-primary btn-sm mb-3 mt-2">
                    <i class="fas fa-arrow-left me-3"></i>Volver
                  </a>
                </div>
              </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
  </form>
  </div>
  
  

  <ng-template #modalInsPrd let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Modal ingreso Producto</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form  [formGroup] = "insPrd"
    (ngSubmit)  = "agregar(insPrd.controls['prdCod'].value ,                      
                           insPrd.controls['orpdCant'].value,                         
                           insPrd.controls['orpdObs'].value)">
    <div class="modal-body" >
        <div class="card-body">
          <div class="form-group">            
            <label for="nombre">Producto</label>
            <div  *ngIf="!cProductos.length">
              <i class="spinner-grow spinner-grow-sm"></i>
              <i class="spinner-grow spinner-grow-sm"></i>
              <i class="spinner-grow spinner-grow-sm"></i>
            </div>
            <div class="" *ngIf="cProductos.length > 0">
              <ng-select  
                [items]="cProductos"
                bindLabel="prdDes"
                bindValue="PrdCod"
                formControlName="gerencia"
                >
              </ng-select >
            </div>
          </div>
          <div *ngIf = "insPrd.controls['prdCod'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
          <div *ngIf = "valproddet">
            <span class="text-danger">Producto ya esta ingresado en OP!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="">Cantidad Solicitada</label>
          <input type="text" class="form-control" name = "orpdCant" id="orpdCant" placeholder="" value="" formControlName = 'orpdCant' oninput="this.value = this.value.toUpperCase()">
        </div>
        <div *ngIf = "insPrd.controls['orpdCant'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
        <div *ngIf = "insPrd.controls['orpdCant'].hasError('pattern')">
          <span class="text-danger">formato incorrecto!</span>
        </div>
       
        <div class="form-group">
          <label for="">Observaciones</label>
          <input type="text" class="form-control" name = "orpdObs" id="orpdObs" placeholder="" value="" formControlName = 'orpdObs' oninput="this.value = this.value.toUpperCase()">
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-block"  *ngIf ="insPrd.valid && !valproddet && !valprod">
          Guardar
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>
