<div class="card card-primary card-outline">
    <div class="card-header">
      <h5 class="card-title">Módulos</h5>      
    </div>
    <div class="card-body">  
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel" >
          <fa-icon [icon]="faFileExcel"></fa-icon>
          Excel</button>          
          <a (click)="nuevo()" class="btn  btn-outline-primary btn-sm" ngbTooltip= "Nuevo">
            <fa-icon [icon]="faAddressCard"></fa-icon>
            Nuevo</a>
        <div class="loading" *ngIf= "loading" >
        <img src = "assets/Circles-menu-3.gif">
       </div>
  
   <div>
    <br>
    <div class="table-responsive" *ngIf="tblModulo?.length > 0" class="{{carga}}">
      <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Icon</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let modulo of tblModulo">
            <td>{{modulo.molId}}</td>
            <td>{{modulo.molDes}}</td>  
            <td>{{modulo.molIcon}}</td>  
            <td>
              <a style= "margin : 1px ;" (click) = "up(modulo)" class="btn btn-warning btn-xs" ngbTooltip="Opciones">
             
              <div *ngIf="val">
                <fa-icon [icon]="faPenToSquare"></fa-icon> 
                <span class="spinner-border spinner-border-sm"></span>
              </div>
              <div *ngIf="!val"> <fa-icon [icon]="faPenToSquare"></fa-icon></div>
              </a>
              <a style= "margin : 1px ;" (click)="subopciones(modulo)" class="btn btn-warning btn-xs" ngbTooltip="Sub Módulos">
                <fa-icon [icon]="faSquarePlus"></fa-icon>
              </a>
              <a style= "margin : 1px ;" (click) = "del(modulo)" class="btn btn-warning btn-xs" ngbTooltip="Opciones">
               <fa-icon [icon]="faTrash"></fa-icon>
              </a>
          </td>             
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  
    <!-- /.card-body -->
    <div class="card-footer">
      
    </div>
    <!-- /.card-footer-->
  </div>
