<div class="card">
    <div class="card-header">
      <h3 class="card-title">Orden de Trabajo - Envasado</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
        <h3 class="card-title">Filtros</h3>
        <form
        [formGroup] = "filtroOp">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>N° OP</td>
              <td><input type="text"   [(ngModel)]="model"
                [ngbTypeahead]="search"
                (focus)="focus$.next($any($event).target.value)"
                (click)="click$.next($any($event).target.value)"
                #instance="ngbTypeahead"  value="" class="form-control" placeholder="Ingrese N° Orden Producción"  formControlName='orpNumRea' /> </td>
            </tr>
          </tbody>
        </table>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "buscar(filtroOp.controls['orpNumRea'].value)" ngbTooltip="Buscar"><i class="fas fa-search"></i>Buscar</button>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "refrescar()" ngbTooltip="Refrescar"><i class="fas fa-sync-alt"></i>Refrescar</button>
        <button type = 'button' class="btn  btn-outline-primary btn-sm" (click)= "Excel()"  ngbTooltip="Excel" ><i class="fas fa-file-csv"></i>Excel</button>
      </form>
      <div class="loading" *ngIf= "loading" >
        <img src = "assets/Circles-menu-3.gif">
       </div>
   <div>
    <br>
    <div class="table-responsive">
      <div  *ngIf="tblOrdenPrd?.length > 0" class="{{carga}}">
        <table #datatableElement datatable  id="tblOrdenPrd" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
          <thead>
            <tr>
              <th>ID Trabajo</th>
              <th>ID Envasado</th>
              <th>Usuario OP</th>
              <th>Nro OC</th>
              <th>Nro Op</th>
              <th>Fecha Op</th>                         
              <th>Estado Ot</th>   
              <th>Estado Env Op</th>     
              <th>Estado Env Ctl</th>              
              <th>Prioridad</th>            
              <th>Producto</th>  
              <th>Cantidad Solicitada</th>  
              <th>Lote Salida</th>  
              <th>Maquina</th>
              <th>Turno</th>    
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let orden of tblOrdenPrd">
              <th>{{orden.id}}</th>
              <th>{{orden.id_envasado}}</th>
              <th>{{orden.usuario_genera}}</th>
              <th>{{orden.oc}}</th>
              <th>{{orden.op}}</th>
              <th>{{orden.orden_prod_fec}}</th>
              <th>{{orden.estado_orden}}</th> 
              <th>{{orden.estado_termo_op}}</th> 
              <th>{{orden.estado_termo_ctl}}</th>                                          
              <th>
                <span [ngSwitch]="orden.prioridad">
                  <span *ngSwitchCase="'A'">
                    <small class="badge badge-danger">Alta</small>
                  </span>
                  <span *ngSwitchCase="'M'">
                      <small class="badge badge-primary">Medio</small>
                  </span>
                  <span *ngSwitchCase="'B'">
                    <small class="badge badge-secondary">Bajo</small>
                  </span>
                </span>
              </th>
              <th>{{orden.producto}}</th>  
              <th>{{orden.cantidad_sol}}</th> 
              <th>{{orden.lote_salida}}</th>
              <th>{{orden.maquina}}</th>  
              <th>{{orden.turno}}</th>       
              <th>
                 <a style= "margin : 1px ;"  class="btn btn-warning btn-xs"   (click)="insEnvasado(orden)"                    ngbTooltip="Actualizar Operador"><i class="fa fa-edit" aria-hidden="true"></i></a>
                 <a style= "margin : 1px ;"  class="btn btn-warning btn-xs"   (click)="upTermo( orden , modalCalExt)"         ngbTooltip="Actualizar Calidad"><i class="fa fa-edit" aria-hidden="true"></i></a>
                 <a style= "margin : 1px;"   class="btn btn-success btn-xs"   (click)="accionTermo(modalAprb, 'A' , orden)"   ngbTooltip="Autorizar"><i class="fas fa-check-double"></i></a>
                 <a style= "margin : 1px;"   class="btn btn-danger btn-xs"    (click)="accionTermo(modalAprb, 'R' , orden)"   ngbTooltip="Rechazar"><i class="fas fa-ban"></i></a>
                 <a style= "margin : 1px;"   class="btn btn-warning btn-xs"   (click)="verTermo(orden , modalVerExt)"         ngbTooltip="Ver"><i class="fas fa-eye"></i></a>
                
                </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Marple
    </div>
    <!-- /.card-footer-->
  </div>

<ng-template #modalAprb let-modal>
    <form   >
    <div class="modal-header">
      <h5 class="modal-title">Modal de {{tipoAction}} Envasado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <div class="row">
        <div class="form-group col-md-4">
          <label for="">Tipo Caja</label>
          <input type="text" class="form-control form-control-sm" [attr.disabled]="true"  value="{{orden_trabajo.tipo_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Caja</label>
          <input type="text" class="form-control form-control-sm" [attr.disabled]="true" value="{{orden_trabajo.lote_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Tipo Bolsa</label>
          <input type="text" class="form-control form-control-sm" [attr.disabled]="true" value="{{orden_trabajo.tipo_bolsa}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Bolsa</label>
          <input type="text" class="form-control form-control-sm"  [attr.disabled]="true" value="{{orden_trabajo.lote_bolsa}}" >               
        </div>
        <div class="form-group col-md-4">
          <label for="">Turno</label>
          <input type="text" class="form-control form-control-sm"  [attr.disabled]="true" value="{{orden_trabajo.turno}}" >                          
        </div>
        <div class="form-group col-md-4">
          <label for="">Maquina</label>
          <input type="text" class="form-control form-control-sm" [attr.disabled]="true" value="{{orden_trabajo.maquina}}" >               
        </div>
        
        <div class="form-group col-md-4">
          <label for="">Lote Salida</label>
          <input type="text" class="form-control form-control-sm"  [attr.disabled]="true" value="{{orden_trabajo.lote_salida}}" >                           
        </div>        
      </div>
     <hr>
       <h6>Detalles Operacionales</h6>
            <br>
            <br>
            <div class="table-responsive" *ngIf="envDet.length > 0">
              <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                      <td>Hora Inicio</td>                          
                      <td>Hora Fin</td> 
                      <td>Total Cajas</td>
                      <td>Número de Pallet</td>                            
                      <td>Acciones</td>    
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let envasado of envDet; let i= index;">
                    <td>
                        <span>{{envasado.envdHorIni}}</span>
                    </td>
                    <td>
                      <span>{{envasado.envdHorFin}}</span>
                    </td>
                    <td>
                      <span>{{envasado.envdCaja}}</span>
                    </td>
                    <td>
                      <span>{{envasado.envdPallet}}</span>
                    </td>
                 
                </tr>
                </tbody>
                </table>
              </div>
              <hr>          
      </div>
     <!-- /.card-body -->
     <div class="modal-footer">
      <button class="btn btn-primary btn-block" 
        (click)="action()"  [disabled]="val" >
        <div *ngIf="val">
         {{tipoAction}}..
          <span class="spinner-border spinner-border-sm mr-2"></span>
        </div>
        <div *ngIf="!val">{{tipoAction}}</div>
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template> 
  
<ng-template #modalCalExt let-modal>
    <form>
    <div class="modal-header">
      <h5 class="modal-title">Modal de confirmación </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
          <div class="row">
        <div class="form-group col-md-4">
          <label for="">Tipo Caja</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true"  value="{{orden_trabajo.tipo_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Caja</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Tipo Bolsa</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.tipo_bolsa}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Bolsa</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_bolsa}}" >               
        </div>
        <div class="form-group col-md-4">
          <label for="">Turno</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.turno}}" >                          
        </div>
        <div class="form-group col-md-4">
          <label for="">Maquina</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.maquina}}" >               
        </div>
       
        <div class="form-group col-md-4">
          <label for="">Lote Salida</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_salida}}" >                           
        </div>
        <div class="form-group col-md-12">
          <label for="">Observaciones</label>
          <textarea  class="form-control form-control-sm" #envObs></textarea>
        </div>
        <form
    [formGroup] = "insArch"
    (ngSubmit)  = "insArchivos()"  enctype="multipart/form-data" > 
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Archivo</label>
          <div class="input-group input-group-sm mb-3">
            <div class="custom-file">
              <input (change) = "capturarFile($event)" type="file" class="custom-file-input" accept =".xls , .xlsx , .csv" formControlName="archivos">
              <label class="custom-file-label"><i class="fas fa-search"></i> {{nombreArch}}</label>
            </div>
          </div>
          <div *ngIf = "insArch.controls['archivos'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>          
        </div>  
    </div>    
      <button type="submit" class="btn btn-primary" [disabled]="val" *ngIf="insArch.valid" >
        <div *ngIf= "val">
          Guardando..
          <span class="spinner-border spinner-border-sm mr-2"></span>
        </div>
        <div *ngIf= "!val">
          Guardar
        </div>
    </button>  
  </form>
 </div>
     <hr>
       <h6>Detalles Operacionales</h6>
            <br>
            <br>
            <div class="table-responsive" *ngIf="envDet.length > 0">
              <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                      <td>Hora Inicio</td>                          
                      <td>Hora Fin</td> 
                      <td>Total Cajas</td>
                      <td>Número de Pallet</td>                            
                      <td>Acciones</td>                         
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let envasado of envDet; let i= index;">
                        <td>
                            <span>{{envasado.envdHorIni}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdHorFin}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdCaja}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdPallet}}</span>
                        </td>
                        <td>
                          <span>{{termo.espesor}}</span>
                        </td>
                        
                    </tr>
                </tbody>
                </table>
              </div>
              <h6>Archivos</h6>
              <br>
              <br>
              <div class="table-responsive" *ngIf="envArchivo.length > 0">
                <table class="table table-hover text-nowrap">
                  <thead>
                      <tr>
                        <td>id</td>                          
                        <td>Nombre</td>        
                        <td>Acciones</td>    
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let archivo of envArchivo; let i= index;">
                      <td>
                          <span *ngIf="archivo.idEnvarch > 0">{{archivo.idEnvarch}}</span>
                          <span *ngIf="archivo.id > 0">{{archivo.id}}</span>
                      </td>
                      <td>
                        <span>{{archivo.envLink}}</span>
                      </td>
                      <td>                        
                       <a style= "margin : 1px ;" (click)="delArch(i , archivo , archivo.idEnv)"  class="btn btn-warning btn-xs" placeholder="eliminar"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                      </td>                   
                  </tr>
                  </tbody>
                  </table>
                </div>                                       
      </div>
     <!-- /.card-body -->
     <div class="modal-footer">
      <button class="btn btn-primary btn-block" 
        (click)="upCalidad(envObs.value)"  [disabled]="val" >
        <div *ngIf="val">
         {{tipoAction}}..
          <span class="spinner-border spinner-border-sm mr-2"></span>
        </div>
        <div *ngIf="!val">{{tipoAction}}</div>
      </button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
  </ng-template>

  <ng-template #modalVerExt let-modal>
    <form   >
    <div class="modal-header">
      <h5 class="modal-title">Modal de confirmación Envasado</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
          <div class="row">
        <div class="form-group col-md-4">
          <label for="">Tipo Caja</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true"  value="{{orden_trabajo.tipo_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Caja</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_caja}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Tipo Bolsa</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.tipo_bolsa}}">
        </div>
        <div class="form-group col-md-4">
          <label for="">Lote Bolsa</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_bolsa}}" >               
        </div>
        <div class="form-group col-md-4">
          <label for="">Turno</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.turno}}" >                          
        </div>
        <div class="form-group col-md-4">
          <label for="">Maquina</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.maquina}}" >               
        </div>
       
        <div class="form-group col-md-4">
          <label for="">Lote Salida</label>
          <input type="text" class="form-control form-control-sm" id="" placeholder="" [attr.disabled]="true" value="{{orden_trabajo.lote_salida}}" >                           
        </div>
        
      </div>
     <hr>
       <h6>Detalles Operacionales</h6>
            <br>
            <br>
            <div class="table-responsive" *ngIf="envDet.length > 0">
              <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                      <td>Hora Inicio</td>                          
                      <td>Hora Fin</td> 
                      <td>Total Cajas</td>
                      <td>Número de Pallet</td>                            
                      <td>Acciones</td>                         
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let envasado of envDet; let i= index;">
                        <td>
                            <span>{{envasado.envdHorIni}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdHorFin}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdCaja}}</span>
                        </td>
                        <td>
                          <span>{{envasado.envdPallet}}</span>
                        </td>
                        <td>                          
                        </td>                        
                    </tr>
                </tbody>
                </table>
              </div>  
              <h6>Archivos</h6>
              <br>
              <br>
              <div class="table-responsive" *ngIf="envArchivo.length > 0">
                <table class="table table-hover text-nowrap">
                  <thead>
                      <tr>
                        <td>id</td>                          
                        <td>Nombre</td>        
                        <td>Acciones</td>    
                      </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let archivo of envArchivo; let i= index;">
                      <td>
                          <span *ngIf="archivo.idEnvarch > 0">{{archivo.idEnvarch}}</span>
                          <span *ngIf="archivo.id > 0">{{archivo.id}}</span>
                      </td>
                      <td>
                        <span>{{archivo.envLink}}</span>
                      </td>
                      <td>                        
                        <a style= "margin : 1px;"  class="btn btn-warning btn-xs"    (click)="downloadDoc(archivo.envLink)"  ngbTooltip="Descargar"><i class="fa fa-download"></i></a>
                      </td>                   
                  </tr>
                  </tbody>
                  </table>
                </div>                                 
      </div>
     <!-- /.card-body -->
     <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
    </div>
  </form>
</ng-template>