<div class="card card-primary card-outline">
  <div class="card-header">
    <h5 class="card-title">Ciudad</h5>
  </div>
  <div class="card-body">
    <button type = 'button' class="btn btn-outline-primary btn-sm" (click)= "refrescar()">
      <fa-icon [icon]="faSyncAlt"></fa-icon>
      Refrescar</button>
      <button type = 'button' class="btn  btn-outline-primary btn-sm" (click) = "Excel()" ngbTooltip="Excel">
        <fa-icon [icon]="faFileExcel"></fa-icon>
        Excel</button>
      <a (click) = "modalIns(modalComIns)" class="btn  btn-outline-primary btn-sm" ngbTooltip="Nuevo">
        <fa-icon [icon]="faAddressCard"></fa-icon>
        Nuevo</a>
        <app-filtro-general  [colums]="colums" (onItemAdded)="addFilter($event)" *ngIf="colums.length > 0"></app-filtro-general>       
    <div class="loading" *ngIf= "loading" >
      <img src = "assets/Circles-menu-3.gif">
     </div>
 <div>
  <br>
  <div  class="table-responsive"  *ngIf="tblCiudad?.length > 0" class="{{carga}}">
    <table #datatableElement datatable  id="tblProductos" class="table table-hover text-nowrap"[dtOptions]="dtOptions" >
      <thead>
        <tr>
          <th>ID</th>
          <th>País</th>
          <th>Región</th>
          <th>Cód. Ciudad</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let ciudad of tblCiudad">
          <th>{{ciudad.ciuId}}</th>
          <th>{{ciudad.paiDes}}</th>
          <th>{{ciudad.regDes}}</th>
          <th>{{ciudad.ciuCod}}</th>
          <th>{{ciudad.ciuDes}}</th>
          <th>
            <a style= "margin : 1px ;" (click) = "modelUp(modalCiuUdp , ciudad)" class="btn btn-warning btn-xs"   ngbTooltip="Actualizar">
              <fa-icon [icon]="faPenToSquare"></fa-icon>
            </a>
            <a style= "margin : 1px ;" (click) = "delCiudad(ciudad)" class="btn btn-warning btn-xs" ngbTooltip="Eliminar">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
  <!-- /.card-body -->
  <div class="card-footer">
    
  </div>
  <!-- /.card-footer-->
</div>
<ng-template #modalComIns let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal ingreso Ciudad</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  [formGroup] = "ins"
         (ngSubmit)  = "action(ins.controls['paiId'].value ,
                               ins.controls['regId'].value ,
                               ins.controls['ciuCod'].value,
                               ins.controls['ciuDes'].value,
                               'ins' )"
                         >
  <div class="modal-body">
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Pais</label>
          <div  *ngIf=" !paises.length ">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class=" input-group-sm" *ngIf="paises.length > 0">
            <ng-select  [items]="paises"
              bindLabel="paiDes"
              bindValue="paiId"
              formControlName="paiId"
              [ngClass]="(ins.controls['paiId'].hasError('required'))
              ? 'was-validated' : 'is-valid'" >
              </ng-select >
          </div>
          <div *ngIf = "ins.controls['paiId'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Región</label>
          <div  *ngIf=" !regiones.length ">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class=" input-group-sm" *ngIf="regiones.length  > 0 && paises.length > 0">
            <ng-select  [items]="regiones"
              bindLabel="regDes"
              bindValue="regId"
              formControlName="regId"
              [ngClass]="(ins.controls['regId'].hasError('required'))
              ? 'was-validated' : 'is-valid'" >
              </ng-select >
          </div>
          <div *ngIf = "ins.controls['regId'].hasError('required')">
            <span class="text-danger">Campo obligatorio!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="regDes">Código</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuCod" placeholder="Ingresar descripción..." formControlName = 'ciuCod'  oninput="this.value = this.value.toUpperCase()"
          [ngClass]="(ins.controls['ciuCod'].hasError('required') ||  validCod  )
          ? 'was-validated' : 'is-valid'" 
          >
        </div>
      </div>
        <div *ngIf = "ins.controls['ciuCod'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
        <div *ngIf = "validCod">  <span class="text-danger">Código invalido!</span></div>
        <div class="form-group">
          <label for="regDes">Descripción</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuDes" placeholder="Ingresar descripción..." formControlName = 'ciuDes'  oninput="this.value = this.value.toUpperCase()" 
          [ngClass]="(ins.controls['ciuDes'].hasError('required') )
          ? 'was-validated' : 'is-valid'" 
          >
        </div>
      </div>
        <div *ngIf = "ins.controls['ciuDes'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
      <!-- /.card-body -->
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block"  *ngIf ="ins.valid && validCod == false" [disabled]="val">
      <div *ngIf= "val">
        Guardando..
        <span class="spinner-border spinner-border-sm mr-2"></span>
      </div>
      <div *ngIf= "!val">
        Guardar
      </div>

    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</form>
</ng-template>
<ng-template #modalCiuUdp let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Modal actualizar Ciudad</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='modal.dismiss()' >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  [formGroup] = "up"
         (ngSubmit)  = "action(uppaiId.value ,
                               upregId.value ,
                               upciuCod.value ,
                               up.controls['upciuDes'].value ,
                                'up' )"
                         >
  <div class="modal-body">
      <div class="card-body">
        <div class="form-group">
          <label for="nombre">Pais</label>
          <div class=" input-group-sm" >
            <input type="text" class="form-control" id="" placeholder="" value="{{ciudad.paiDes}}" disabled>
            <input type="hidden" class="form-control" name = "paiId" id="paiId" placeholder="" value="{{ciudad.paiId}}" disabled  #uppaiId>
          </div>
        </div>

        <div class="form-group">
          <label for="nombre">Región</label>
          <div class=" input-group-sm">
            <input type="text" class="form-control" id="" placeholder="" value="{{ciudad.regDes}}" disabled>
            <input type="hidden" class="form-control" name = "paiId" id="paiId" placeholder="" value="{{ciudad.regId}}" disabled  #upregId>
          </div>
        </div>
        <div class="form-group">
          <label for="regDes">Código</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuCod" placeholder="Ingresar descripción..."  value="{{ciudad.ciuCod}}" disabled  #upciuCod>
        </div>
      </div>
        <div class="form-group">
          <label for="regDes">Descripción</label>
          <div class="input-group input-group-sm">
          <input type="text" class="form-control" id="ciuDes" placeholder="Ingresar descripción..." formControlName = 'upciuDes'  oninput="this.value = this.value.toUpperCase()"
          [ngClass]="(up.controls['upciuDes'].hasError('required') )
          ? 'was-validated' : 'is-valid'" 
          >
        </div>
      </div>
        <div *ngIf = "up.controls['upciuDes'].hasError('required')">
          <span class="text-danger">Campo obligatorio!</span>
        </div>
      <!-- /.card-body -->
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block"  *ngIf ="up.valid" [disabled]="val">
      <div *ngIf= "val">
        Guardando..
        <span class="spinner-border spinner-border-sm mr-2"></span>
      </div>
      <div *ngIf= "!val">
        Guardar
      </div>

    </button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='modal.close()'>Cerrar</button>
  </div>
</form>
</ng-template>

